<!-- SIDE PANEL -->

<!-- / SIDE PANEL -->

<div id="main">

    <!-- TOOLBAR: Above -->

   
    <!-- / TOOLBAR: Above -->

    <div id="container-1" class="container">

      

        <div id="container-2" class="container">

         

            <div id="container-3" class="container" fusePerfectScrollbar
                 [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">

                <!-- TOOLBAR: Below static -->
           
                <!-- / TOOLBAR: Below static -->

                <!-- CONTENT -->
                <content></content>
              <!-- / CONTENT -->

              

            </div>

          

        </div>

      

    </div>

  

</div>
