<div id="user" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="logo">
          <img class="logo-icon" src="assets/images/logos/repro_logo.png" style="height:50px;width:50px;">
        </div>
        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            <span style="font-weight: 800;padding-left: 15px;">REpro Services</span>
          </div>

        </div>

      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">
      <div class="content p-24">

        <div fusePerfectScrollbar>
          <!-- VERTICAL STEPPER EXAMPLE -->
          <form fxLayout="column" [formGroup]="propertyForm">
            <div class="h2 mb-24 section-title">Property Details</div>
            <div fxFlex="1 0 auto" fxLayout="row wrap">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Declaration Date</mat-label>
                <input #declaration matInput [matDatepicker]="declarationDate" formControlName="declarationDate" required>
                <mat-datepicker-toggle matSuffix [for]="declarationDate"></mat-datepicker-toggle>
                <mat-datepicker #declarationDate></mat-datepicker>
                <mat-error>Declaration Date is required!</mat-error>
              </mat-form-field>
              <mat-form-field class="selection-fix" appearance="outline" fxFlex>
                <mat-label>Property</mat-label>
                <mat-select formControlName="propertyID" required>
                  <mat-option *ngFor="let option of propertyList" [value]="option.propertyID">
                    {{option.addressPremises}}
                  </mat-option>
                </mat-select>
                <mat-error>Property is required!</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Unit No</mat-label>
                <input matInput type="number" maxlength="10" formControlName="unitNo" required>
                <mat-error>Unit No is required!</mat-error>
              </mat-form-field>
            </div>
          </form>
          <form fxLayout="column" [formGroup]="customerform">
            <div class="h2 mb-24 section-title">Customer Details</div>
            <div fxFlex="1 0 auto" fxLayout="row wrap" class="padding-top-10">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Name (As in PAN)</mat-label>
                <input matInput formControlName="name" required>
                <mat-error>Name is required!</mat-error>
              </mat-form-field>

              <div fxFlex>
                <mat-form-field appearance="outline" style="width:98%;">
                  <mat-label>PAN</mat-label>
                  <input matInput formControlName="pan" (keyup)="customerform.patchValue({pan: $event.target.value.toUpperCase()})" (blur)="loadCustomerByPan($event.target.value)" required>

                  <input hidden type="file" #panDocument accept=".ods,.doc,.docx,.xls,.xlsx,application/pdf,image/*" (change)="uploadPan($event)" />
                  <input hidden type="file" #mobileDocument  accept="image/*" capture (change)="uploadPan($event)" />
                  <div matSuffix style="display:flex;">
                    <span class="pan-upload" (click)="panUploadClick(panDocument)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" fill="rgb(3,155,229)" /></svg>
                    </span>
                    <span *ngIf="!isMobile" class="pan-upload" (click)="openDialog()" style="cursor:pointer;">
                      <mat-icon class="s-22" style="margin-left:5px">add_a_photo</mat-icon>
                    </span>
                    <span *ngIf="isMobile" class="pan-upload mobile" (click)="openDialogInMobile(mobileDocument)" style="cursor:pointer;">
                      <mat-icon class="s-22" style="margin-left:5px">add_a_photo</mat-icon>
                    </span>
                  </div>
                  <mat-error>Valid PAN is required!</mat-error>
                </mat-form-field><br />
                <div *ngIf="panDoc.fileName" class="padding-bottom-10">
                  <span class="pan-name-label">{{panDoc.fileName}}</span>
                  <img src="assets/images/logos/icons8-view-24.png" (click)="downloadFile(panDoc.blobID,panDoc.fileName,'view')" />
                  <img src="assets/images/logos/icon-down-24.png" (click)="downloadFile(panDoc.blobID,panDoc.fileName,'download')" />
                  <mat-icon class="active-icon red-600 s-25 delete-button" (click)="deleteFile(panDoc.blobID,'pan')">highlight_off</mat-icon>
                </div>
              </div>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Name of the premises/Building/village</mat-label>
                <input matInput formControlName="addressPremises">
              </mat-form-field>
              <div fxFlex fxLayoutAlign="first center" *ngIf="showAddressClearBtn">
                <button mat-raised-button type="button" class="Address-clear" (click)="clearAddress()" color="accent">
                  Clear Address
                </button>
              </div>
            </div>

            <div fxFlex="1 0 auto" fxLayout="row wrap">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Flat/Door/Block No</mat-label>
                <input matInput formControlName="adressLine1" required>
                <mat-error>Flat/Door/Block No is required!</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Road/Street/Lane</mat-label>
                <input matInput formControlName="addressLine2">
                <!--<mat-error>Road/Street/Lane is required!</mat-error>-->
              </mat-form-field>

            </div>

            <div fxFlex="1 0 auto" fxLayout="row wrap">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>City/District </mat-label>
                <input matInput formControlName="city" required>
                <mat-error>City/District is required!</mat-error>
              </mat-form-field>

              <mat-form-field class="selection-fix" appearance="outline" fxFlex>
                <mat-label>State</mat-label>
                <mat-select formControlName="stateId" required (selectionChange)="selectedState($event)">
                  <mat-option *ngFor="let option of states" [value]="option.stateID">
                    {{option.state}}
                  </mat-option>
                </mat-select>
                <mat-error>State is required!</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>PIN Code</mat-label>
                <input matInput type="text" formControlName="pinCode" required>
                <mat-error>PIN Code is required!</mat-error>
              </mat-form-field>

            </div>

            <div fxFlex="1 0 auto" fxLayout="row wrap">
              <div fxFlex fxLayout="row" style="width:100%">
                <mat-form-field appearance="outline" fxFlex="20" style="padding-right:0px;margin-right:0px;">
                  <mat-label>ISD</mat-label>
                  <input matInput maxlength="4" formControlName="isd" [(ngModel)]="isd2way" placeholder="ISD">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="80" style="padding-left:0px;margin-left:0px;">
                  <mat-label>Mobile</mat-label>
                  <input matInput type="number" maxlength="10" formControlName="mobileNo" required>
                  <mat-error>Mobile is required!</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex fxLayout="row" style="width:100%">
                <mat-form-field appearance="outline" fxFlex="20" style="padding-right:0px;margin-right:0px;">
                  <mat-label>ISD</mat-label>
                  <input matInput maxlength="4" formControlName="isd" [(ngModel)]="isd2way">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="80" style="padding-left:0px;margin-left:0px;">
                  <mat-label>Alternate number</mat-label>
                  <input matInput type="number" maxlength="10" formControlName="alternateNumber">
                </mat-form-field>

              </div>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>D.O.B *</mat-label>
                <input matInput [matDatepicker]="birthDate" formControlName="dateOfBirth" placeholder="DD-MM-YYYY">
                <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex="1 0 auto" fxLayout="row wrap">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailID" required>
                <mat-error>Email is required!</mat-error>
              </mat-form-field>

            </div>
            <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayout.sm="column"  fxLayout.xs="column">
              <div fxFlex>
                <div class="margin-tb-5" fxLayout.sm="column"  fxLayout.xs="column">
                  <span class="radio-label" style="align-self:end;">I/We want REpro Services to download Form 16B</span>
                  <mat-radio-group aria-label="Select an option" formControlName="form16b" style="align-self:end;">
                    <mat-radio-button value="yes">Yes</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayout.sm="column"  fxLayout.xs="column">
              <div fxFlex>
                <div  fxLayout="row wrap">
                  <div class="margin-tb-5"  fxLayout.sm="column" fxLayout.xs="column">
                    <span class="radio-label">I/We have already registered in TRACES</span>
                    <mat-radio-group aria-label="Select an option" formControlName="traces" style="align-self:end;">
                      <mat-radio-button value="yes">Yes</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <mat-form-field appearance="outline"  *ngIf="customerform.value.traces=='yes'">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="tracesPassword">
                    <mat-error>Password is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex  fxLayoutAlign="end center">
                <button mat-raised-button
                        class="add-product-button margin-tb-5 mt-24 mt-md-0  pink" style="float:right;" (click)="addCoClient()">
                  <span>Add Co Owner </span>
                  <mat-icon class="s-22" style="margin-left:5px">group</mat-icon>
                </button>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="margin-t-40">
              <button mat-raised-button type="button" class="mr-16" (click)="saveOneCustomer(false)" color="accent">
                Save
              </button>
              <button mat-raised-button type="button" class="ml-16 mr-16 yellow" (click)="clearCustomer()" color="basic">
                Clear
              </button>

             
            </div>
            <div id="academy-courses" class="sellers margin-t-20" *ngIf="clients.length>0" fxLayout="column" fxLayoutAlign="center">
              <div fxLayout="row wrap" class="header" fxLayoutAlign="start">
                <span>Customers</span>
              </div>
              <div class="courses" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">
                <div class="course android" *ngFor="let client of clients" (click)="showClient($event,client)" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="25" [@animate]="{value:'*',params:{y:'100%'}}">
                  <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                    <div class="header android-bg" [ngClass]="{'active':currentProspectId==client.prospectID}" fxLayout="row" fxLayoutAlign="center center">
                      <div class="category" fxFlex>
                        {{client.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
          <div fxLayout="column">

            <!--<div fxFlex="1 0 auto" fxLayout="row wrap">
              <button mat-raised-button class="add-product-button margin-tb-5 mt-24 mt-md-0" color="accent" style="float:right;" (click)="refreshShareGrid()">
                <span>Shares of Co-owners </span>
              </button>
            </div>-->
            <div fxLayout="row wrap" class="header" fxLayoutAlign="start">
              <span class="h2 padding-tb-10 section-title">Co customers's shares in %</span>
            </div>

            <div fxLayout="column">
              <div #shareGrid>
                <grid  [dataSet]="customerData" [gridColDef]="customerColumnDef"></grid>
              </div>
              <div class="h2 margin-t-20 section-title">REpro Service Fee</div>
              <div class="h3 ">For New bookings / No compliance cases</div>

              <div fxFlex="1 0 auto" fxLayout="column" class="grid-table" >
                <div fxFlex="1 0 auto" fxLayout="row" class="header-row" fxLayoutGap="10px">
                  <div fxFlex>
                    <span>Particulars</span>
                  </div>
                  <div fxFlex>
                    <span>Service Fee</span>
                  </div>
                  <div fxFlex>
                    <span>GST @ 18%</span>
                  </div>
                  <div fxFlex>
                    <span>
                      Total Payable
                    </span>
                  </div>
                </div>
                <div fxFlex="1 0 auto" fxLayout="row" class="odd-row" fxLayoutGap="10px">
                  <div fxFlex>
                    <span>Compliance for one owner</span>
                  </div>
                  <div fxFlex>
                    <span>5,000</span>
                  </div>
                  <div fxFlex>
                    <span>900</span>
                  </div>
                  <div fxFlex>
                    <span>
                      5,900
                    </span>
                  </div>
                </div>
                <div fxFlex="1 0 auto" fxLayout="row" class="even-row" fxLayoutGap="10px">
                  <div fxFlex>
                    <span>Compliance for 2 or more owners</span>
                  </div>
                  <div fxFlex>
                    <span>6,000</span>
                  </div>
                  <div fxFlex>
                    <span>1,080</span>
                  </div>
                  <div fxFlex>
                    <span>
                      7,080
                    </span>
                  </div>
                </div>
                <!--<div fxFlex="1 0 auto" fxLayout="row" class="odd-row" fxLayoutGap="10px">
                  <div fxFlex>
                    <span>For one-time TDS compliance</span>
                  </div>
                  <div fxFlex>
                    <span>2,000</span>
                  </div>
                  <div fxFlex>
                    <span>360</span>
                  </div>
                  <div fxFlex>
                    <span>
                      2,360
                    </span>
                  </div>
                </div>-->
              </div>
              <!--<div class="h3 padding-t-10">For Old bookings who have complied partially and wants to opt for TDS compliance by REpro Services going forward</div>

              <div fxFlex="1 0 auto" fxLayout="column" class="grid-table">
                <div fxFlex="1 0 auto" fxLayout="row" class="header-row" fxLayoutGap="7px">
                  <div fxFlex>
                    <span>Particulars</span>
                  </div>
                  <div fxFlex>
                    <span>
                      Service Fee
                    </span>
                  </div>
                  <div fxFlex>
                    <span>GST @ 18%</span>
                  </div>
                  <div fxFlex>
                    <span>
                      Total Payable / Transaction
                    </span>
                  </div>
                </div>
                <div fxFlex="1 0 auto" fxLayout="row" class="odd-row" fxLayoutGap="7px">
                  <div fxFlex>
                    <span>Compliance for one owner</span>
                  </div>
                  <div fxFlex>
                    <span>250</span>
                  </div>
                  <div fxFlex>
                    <span>45</span>
                  </div>
                  <div fxFlex>
                    <span>
                      295
                    </span>
                  </div>
                </div>
                <div fxFlex="1 0 auto" fxLayout="row" class="even-row" fxLayoutGap="7px">
                  <div fxFlex>
                    <span>Compliance for 2 or more owners</span>
                  </div>
                  <div fxFlex>
                    <span>300</span>
                  </div>
                  <div fxFlex>
                    <span>54</span>
                  </div>
                  <div fxFlex>
                    <span>
                      354
                    </span>
                  </div>
                </div>

              </div>-->
              <!--<div fxLayout="row wrap" class="header" fxLayoutAlign="start">
                <span class="h2 padding-tb-10 section-title">Bank Details</span>
              </div>
              <div fxFlex="1 0 auto" fxLayout="row wrap">
                <div fxFlex>
                  <div fxLayout="column">
                    <div fxFlex class="padding-tb-7">M/s. Repro Services</div>
                    <div fxFlex class="padding-tb-7">
                      HDFC Bank, Sahakara Nagar Branch
                    </div>
                    <div fxFlex class="padding-tb-7"> A/c No. : 50200048578445</div>
                    <div fxFlex class="padding-tb-7">IFSC – HDFC0001036</div>
                  </div>
                </div>               
              </div>-->
              <div fxFlex="1 0 auto" fxLayout="column">

                <!--<div class="h3 padding-t-10"> Please share the payment confirmation proof by email to <a>tdscompliance@reproservices.in</a></div>-->
                <div class="h3 padding-t-10"> Further I/we undertake to pay interest, late filing fees, penalty (if any) and also address any income tax proceedings on my TDS liability paid belatedly / payable as on date.</div>
                <!--<div class="h3 padding-t-10">For any clarifications required please contact us,</div>
                <div class="h3">R Ganesh -   +91 9620508968</div>
                <div class="h3">Sriram B   -   +91 9663751471</div>-->
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" class="margin-t-40">
                <button mat-raised-button type="button" class="mr-16" (click)="saveCustomer()" color="accent">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>



