// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";


// Import toastr
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
/*@import '~ngx-toastr/toastr-bs4-alert';*/

/*@import “~ngx-toastr/toastr.css”;*/

.toast-container .ngx-toastr {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mat-tab-label{
    font-weight:700;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}

.mat-form-field-label-wrapper {
  top: -1.4em !important;
  padding-top: 0.84375em;
}
